@import url("fontawesome-all.min.css");

/* ! Overrides of notebook CSS for static HTML export */
body {
  overflow: visible;
  padding: 8px;
}

div#notebook {
  overflow: visible;
  border-top: none;
}

@media print {
  div.cell {
    display: block;
    page-break-inside: avoid;
  }
  div.output_wrapper {
    display: block;
    page-break-inside: avoid;
  }
  div.output {
    display: block;
    page-break-inside: avoid;
  }
}

.jp-RenderedImage img,
.jp-RenderedHTMLCommon img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#bt-cell-copy {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 0.2em;
  cursor: pointer;
}

/* ! notebook navbar */
.notebook-navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 8px 8px;
  width: 100%;
  border: 0;
  z-index: 999;
  transition: 0.25s;
  background-color: hsla(261, 0%, 50%, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.notebook-navbar:hover {
  transition: 0.25s;
  background-color: hsla(261, 70%, 50%, 0.5);
}

.notebook-navbar a {
  transition: 0.25s;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.notebook-navbar a:hover {
  transition: 0.25s;
  color: rgba(0, 0, 0, 1);
}

.notebook-navbar a:before {
  content: "ᐊ ";
}

.notebook-navbar a span {
  font-weight: 800;
}

/* ! notebook footer */
.notebook-footer {
  text-align: center;
}

.notebook-footer hr {
  margin-top: 3em;
  margin-bottom: 2em;
}

.notebook-footer a {
  transition: 0.2s;
  font-weight: bold;
  color: hsl(261, 70%, 50%);
}
