/* Footer */
#footer {
  .copyright {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.8em;
    text-align: center;

    a {
      font-weight: _font(weight-extra-bold);
      border-bottom: none;
    }
  
    a:hover {
      transition: _duration(transition-hover);
      color: _palette(accent1);
    }
  }
}
