/* GitHub Corner */

.github-corner {
  svg {
    position: absolute;
    right: 0;
    top: 0;
    color: _palette(bg);
    fill: _palette(accent);
    transition: _duration(transition-hover);
  }

  svg:hover {
    fill: lighten(_palette(accent), 7%);
  }

  &:hover .octo-arm {
    animation: octocat-wave 0.5s;
  }

  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-20deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }
}
